@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home-container {
    height: 100vh;
}

@media screen and (min-width: 1280px) and (max-width:1780px) {
    .home-container {
        height: 100vh;
    }
}