@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home-container {
    height: 100vh;
    width: 90%;
    background-image: url(../../bg-img.jpg);
    background-size: cover;
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff10;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

@media screen and (min-width: 1280px) and (max-width:1780px) {
    .home-container {
        height: 100vh;
    }
}