@import 'variables';

nav {
    width: 100%;
    background: $black-nav;
    ul {
        display: flex;

        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 1280px) and (max-width:1780px) {
    nav {
        ul {
            height: 90px;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            li {
                a {
                    font-size: 1.5em;
                }
            }
        }
    }
}